@import "../../sass/variable.scss";

.homeBox {
    margin: 0 auto;
    margin-top: 20vh;
    width: 300px;
    font-family: $text-font;
    background-image: url("/assets/images/buffetPic2.jpg");
    background-repeat: no-repeat;
    background-size: auto;

    
    button {
        font-size: 1.3em;
        font-weight: bold;
    }
}